@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css?family=Wire+One|Abel");



 // roodgroen
 $pink: rgb(232, 45, 113);
 $yellow: rgb(0, 225, 129);

// // roodgeel
// $pink: rgb(248, 48, 114);
// $yellow: rgb(247, 214, 26);

// // rozegeel
// $yellow: rgb(227, 225, 29);
// $pink: rgb(247, 119, 244);



$dark-blue: rgb(30, 12, 162);
$almost-white: rgb(254, 254, 254);


$headfont: 'Cutive Mono', monospace, "Courier New", Courier, monospace;
$abelfont: 'Abel', sans-serif;
$regfont: "Palatino Linotype", "Book Antiqua", Palatino;



