@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");


$yellow: rgb(227, 225, 29);
$pink: rgb(247, 119, 244);
$dark-blue: rgb(30, 12, 162);

$regfont: "Palatino Linotype", "Book Antiqua", Palatino;
$headfont: 'Cutive Mono', monospace, "Courier New", Courier, monospace;


