.wrapper-events {
  padding: 80px 40px;
  min-height: 100vh;
  position: relative;
}

.events-background {
 position: absolute;
 right: 0;
 bottom: 0;
 height: 0;
 width: 0;
 border-bottom: 450px solid $yellow;
 border-left: 2000px solid transparent;
 z-index: -1;
}

.events-title {
  font-family: $headfont;
  font-size: 40px;
  text-align: center;
  margin-left: 46px;

}

.events-content {
  margin-top: 10px;
}

.events-card {
  background-color: white;
  width: 200px;
  height: 300px;
  position: relative;
  margin: 20px auto;
  font-family: $abelfont;
}

.event-card-image-up {
  position: absolute;
  top: 0px;
  left: 0px;
  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
}

.event-card-text-down {
  position: absolute;
  top: 150px;
  left: 0px;
  height: 150px;
  width: 100%;
}

.event-card-image-down {
  position: absolute;
  top: 150px;
  left: 0px;
  img {
    height: 150px;
    width: 100%;
  }
}

.event-card-text-up {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 100%;
}

.event-card-date {
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 28px;
}

.event-card-loc {
  text-align: center;
  width: 100%;
  background-color: $pink;
  color: white;
  font-size: 28px;
}

.event-card-title {
  text-align: center;
  font-size: 24px;
  background-color: $almost-white;
  font-family: $headfont;
  padding-left: 10px;
  padding-right: 10px;
  height: 70px;
  width: 100%;
  word-wrap: break-word;
}

.event-card-link {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 300px;
  width: 200px;
  z-index:2;
}

.add_event {
  text-align: right;
  margin: 20px 40px;
}

.social-events {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

@media screen and (max-width: 480px) {
  .wrapper-events {
    padding: 80px 0px;
    margin-left: -15px;
  }
  .events-card {
    width: 260px;
  }
}
