.wrapper-locations {
  position: relative;
}

#locations-full-map {
  height: 100vh;
  width: 100vw;
  opacity: 1;
}

.locations-list {
  position: absolute;
  top: 130px;
  right: 20px;
  padding: 20px 20px;
  min-height: 440px;
  width: 200px;
  border-radius: 2px;
  text-align: left;
  background-color: white;
  font-family: $abelfont;
  a {
    color: black;
    &:hover {
      color: $pink;
    }
  }
}

.add_location {
  position: absolute;
  bottom: 60px;
  width: 84%;
  text-align: center;
  a {
    color: white;
    &:hover {
      color: black;
    }
  }
}

.locations-social {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.locations-buttons {
  position: absolute;
  top: 80px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
}

.location-list-btn {
  position: absolute;
  right: 10px;
  top: 80px;
  display: none;
}

.btn-loc-list-hide {
  display: none;
}

@media screen and (max-width: 510px) {
  .locations-buttons {
    display: inline-block;
    margin-left: 20px;
    .btn-space {
      margin-bottom: 10px;
    }
  }
  .locations-list {
    display: none;
    top: 165px;
    left: 20px;
    width: 90%;
    opacity: 0.9;
  }
  .location-list-btn {
    display: block;
  }
}

@media screen and (min-width: 510px) {
  .locations-list {
    display: block;
  }
}



