.wrapper-locations {
    // padding: 80px 40px;
  position: relative;
}

#locations-full-map {
  height: 100vh;
  width: 100vw;
  opacity: 1;
}

.locations-list {
  position: absolute;
  top: 130px;
  right: 20px;
  padding: 20px 20px;
  min-height: 440px;
  width: 200px;
  border-radius: 2px;
  text-align: left;
  background-color: white;
  font-family: $abelfont;
  a {
    color: black;
    &:hover {
      color: $pink;
    }
  }

}

.locations-buttons {
  position: absolute;
  top: 80px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
  .btn-space {
  }
}



