.menu-crosses {
  position: absolute;
  font-family: $abelfont;
  font-size: 30px;
  top: 250px;
  left: 20px;
  z-index: 999;
  color: black;
  a {
    color: black;
  }
}

.menu-1-text {
  font-family: $headfont;
  font-size: 25px;
  padding: 20px;
  padding-bottom: 5px;
  background-color: white;
  margin-left: 5px;
}

.menu-2-text {
  font-family: $headfont;
  font-size: 25px;
  padding: 20px;
  padding-bottom: 5px;
  background-color: white;
    margin-left: 5px;
}
.menu-3-text {
  font-family: $headfont;
  font-size: 25px;
  padding: 20px;
  padding-bottom: 5px;
  background-color: white;
    margin-left: 5px;
}

.menu-home {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}
