<div class="footer">
  <%= link_to "about us", "/pages/about"  %>
  <%= link_to "contact us", "/pages/contact"  %>
  <%= link_to "disclaimer", "/pages/disclaimer"  %>

  <%= link_to "like us!", "https://www.facebook.com/sneakertours"  %>
</div>
