<div class="wrapper-gtm">
  <div class="title-gtm text-center">
    What the fuck is Sneakertours?
  </div>
  <div class="content-gtm">
    <div class="content-gtm-small">
      Sneakertours is a city guide through Amsterdam that will get you off the tracks! We believe that any tourist can find De Dam, Leidseplein and the Red Light District perfectly by themselves. To be honest with you, we are not really interested in those places ourselves. We believe there are better ways to experience Amsterdam. On our map we have collected our favourite spots and hidden treasures worth a visit on your trip to Amsterdam. We'll show you the venues, art spaces, cinemas, shops and outdoor shops where you are likely to meet us and our friends, because we like to go there! It doesn’t matter if you have never bee here before or are already living here for some time. We can assure you there will be spots on the map you have never been to. <br>
      But what if you want to know what to do today? Or tomorrow? Or RIGHT NOW? We also keep an
      agenda, where we keep track of the best events in Amsterdam. <br>
      Feeling like we missed something? You can now also add events and spaces yourself!<br><br>
      Who are we? <br>
      We are Aafke and Eveleen. Two outgoing funloving girls living in Amsterdam. When our friends started to call us now and then, because we tended to know the best parties to go to we decided to take this to a next level. This was the starting point for what became Sneaker Tours! After some wandering around we are now happy to show you our <%= link_to "offline guide", "/pages/get_the_map", class: "st-link" %> to Amsterdam and the website that you are visiting. And who knows what the future will bring more... <br><br>
      Don't yo-yo to <%= link_to "contact us", pages_contact_path, class: "st-link" %>!

    </div>
  </div>
  </div>
