<div class="wrapper-gtm">
  <div class="title-gtm text-center">
    What the fuck is Sneakertours?
  </div>
  <div class="content-gtm">
    <div class="content-gtm-small">
      People often ask us, so are you actually giving tours. And the answer is NO. At least not for now. What we do is taking you by the hand with our off- and online map, with our weekly events, to give you the best time in Amsterdam you could wish for!
        </div>
  </div>
  </div>
