<div class="wrapper-gtm">
  <div class="title-gtm text-center">
    Don't like what you see?
  </div>
  <div class="content-gtm">
    <div class="content-gtm-small">
    We have put together this website and its content with much enthusiasm and love for all the locations and events we have covered. We have tried to make a website that everybody likes (and agrees on). Nevertheless, it is possible that we are showing content on this website that in some way, is making you less happy. Please let us know through our <%= link_to "contact form", pages_contact_path, class: "st-link" %>. We will solve the problem as soon as possible and remove the content if necessary.
    </div>
  </div>
</div>

