<div class="wrapper-gtm">
  <div class="title-gtm text-center">
    Don't like what you see?
  </div>
  <div class="content-gtm">
    We try to make a website that everybody likes and agrees on. But as it can always happen that we show some content on this website that can make you in any way less happy. Please let us know! And we will try to solve this as soon as possible.  This can be because it is offensive, because we are using an image of you or because we whow your event or location on our page. Please contact us and we'll get rid of this (if the complaint makes sense) as soon as possible.
  </div>
</div>
