<!-- Homepage -->
<div class="home-wrapper">
  <div class="home-logo">
    <%= image_tag "ST-nieuw-logo.png" %>
  </div>
  <div class="home-tagline">
    <div class="home-tagline-text">
    Welcome to your <span class="home-change-word">ALTERNATIVE</span> <br> guide through Amsterdam
  </div></div>
  <div class="home-right-bottom open-events">
    <div class="home-item item-events">
       events
    </div>
  </div>
  <div class="home-left-bottom open-locations">
    <div class="home-item item-locations">
        locations
    </div>
  </div>
  <div class="home-right-top">
  </div>

<div class="home-couch">
  <%= image_tag "couch.png" %>
</div>
<div id="home-locations-image">
  <%= image_tag "fiets.png", class: "home-bike" %>
</div>
</div>



<!-- Toggle locations -->
<!-- <div id="locations-slider">
  <div class="locations-content">
  </div>
</div>
 -->

