.btn-loc-cat {
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: $abelfont;
  &:hover {
    background-color: $yellow;
    color: black;
  }
   &:active {
    background-color: rgb(247, 119, 244);
    color: white;
  }
}
