.footer {
  background-color: rgba(247, 214, 26, 0.8);
  padding: 10px;
  width: 100%;
  font-family: $abelfont;
  display: flex;
  justify-content: space-between;
  a {
    color: white;
    margin: 20px;
  }
}

.footer-rest {
  border-left: 1px solid white;
}
