.wrapper-form {
    padding: 80px 40px;
    background-color: $yellow;
    background-image: image-url("poes.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
}

.form {
  margin: auto;
  max-width: 450px;
  background-color: $yellow;
  border: 1px solid rgb(0, 232, 133);
  // border: 1px solid rgb(224, 222, 33);
  padding: 20px;
  font-family: $headfont;
}

.form-title {
  text-align: center;
  font-family: $headfont;
  font-size: 40px;
}

select {
  padding: 5px;
  width: 400px;
  border: 0;
  box-shadow: 0px;
  border-radius: 0px;
  margin: 5px 0px;
  font-family: $headfont;
}

.date_box {
  color: rgba(0,0,0,1);
  display: flex;
  font-family: $headfont;
  select {
  padding: 5px;
  width: 180px;
  border: 0;
  box-shadow: 0px;
  border-radius: 0px;
  margin-right: 10px;
  }
  #event_start_date_4i {
      width: 70px;
      margin-left: -17px;
    }
  #event_start_date_5i {
      width: 70px;
    }
   #event_end_date_4i {
      width: 70px;
      margin-left: -17px;
    }
  #event_end_date_5i {
      width: 70px;
    }
}

.string {
  border: 0;
  box-shadow: 0px;
  padding: 5px;
  width: 400px;
  font-family: $headfont;
}

.text {
  border: 0;
  box-shadow: 0px;
  padding: 5px;
  width: 400px;
  font-family: $headfont;
}

.location_category {
font-family: $headfont;

}


label {
  margin-left: 5px;
  margin-top: 10px;
}

input[type="file"] {
  margin-left: 5px;
}

.send {
  margin: 5px;
}

.form-description {
  margin-top: 75px;
  margin-left: -50px;
  max-width: 260px;
  font-family: $abelfont;
  background-color: $yellow;
  padding: 20px;
}

.contact_email {
  padding: 5px;
}

#contact_message {
    height: 200px;
    padding: 5px;
    border: 0px;
    width: 400px;
    margin: 5px;
  }

@media screen and (max-width: 840px) {
  .wrapper-form {
    display: block;
  }
  .form-description {
  margin: 75px auto;
  max-width: 450px;
  font-family: $abelfont;
}
}

@media screen and (max-width: 540px) {
  .string, .text, select, #contact_message {
    width: 280px;
  }
}

@media screen and (max-width: 400px) {
  .string, .text, select, #contact_message {
    width: 200px;
  }
}

