.infowindow {
  max-width: 200px;
  max-height: 200px;
  font-family: $abelfont;
  z-index: 999;
  .infowindow-title {
    font-family: $headfont;
    font-size: 22px;
  }
  a {
    color: $pink;
  }
}
